
# API keys and secrets
.env

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Imported registries
weaver/.imported
weaver/**/imported

# Build directories
.turbo
build
dist